.tags_container {
  font-size: 1.6rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  position: relative;
  right: 1.5rem;
  @media screen and (max-width: 992px) {
    font-size: 1.2rem;
    right: 0.8rem !important;
  }
  li {
    border-radius: 1rem;
    text-align: center;
    padding-top: 0.3rem;
    width: 10rem;
    background-color: var(--tertiary-color);
    margin: 1.5rem;
    height: 2.5rem;
    color: white;
    cursor: pointer;
    @media screen and (max-width: 992px) {
      margin: 0.8rem;
      height: 2rem;
      padding-top: 0.3rem;
    }
  }
}
