.lodging_card {
  margin: 2rem;
  word-break: break-word;
  img, div, a {
    width: 35rem;
    height: 35rem;
    border-radius: 1rem;
    word-break: break-word;
    @media screen and (max-width: 400px) {
      width: 30rem !important;
      height: 30rem !important;
    }
  }
  img {
    object-fit: cover;
  }
  h2 {
    position: relative;
    bottom: 6rem;
    left: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    word-break: break-word;
  }
}