header {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 75vw;
    img {
      width: 20rem;
      object-fit: contain;
    }
    ul{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 25rem;
      margin-top: 1.5rem;
      .nav_link {
        color: var(--primary-color);
        font-size: 2.5rem;
      }
      .active_nav_link {
        color: var(--primary-color);
        font-size: 2.5rem;
        text-decoration: underline;
      }
    }
  }
  }
