header {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 75vw;
    @media screen and (max-width: 992px) {
      width: 90vw;
    }
    img {
      width: 20rem;
      object-fit: contain;
      @media screen and (max-width: 992px) {
        width: 15rem;
      }
    }
    ul{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 25rem;
      margin-top: 1.5rem;
      @media screen and (max-width: 992px) {
        width: 15rem;
      }
      .nav_link {
        color: var(--primary-color);
        font-size: 2.5rem;
        @media screen and (max-width: 992px) {
          font-size: 1.6rem;
        }
      }
      .active_nav_link {
        text-decoration: underline;
      }
    }
  }
}
