.footer_container {
   background-color: black;
   height: 20vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 4rem;
   img {
      width: 15rem;
      object-fit: contain;
   }
   span {
      color: white;
      font-size: 2.5rem;
      margin-top: 3rem;
   }
}