.lodgings_contenair {
  display: flex;
  justify-content: center;
  .lodgings_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 5rem;
    border-radius: 2rem;
    background-color: var(--secondary-color);
    padding: 3rem 0;
    width: 75vw;
    @media screen and (max-width: 992px) {
      background-color: white;
      margin-top: 0;
      width: 100%;
    }
  }
}